In [33]:
import os
from utils.core.config import initialize_daanish, load_project_config
from utils.data_io import load_data
from utils.core.feature_manager import FeatureManager
from utils.eda.descriptive import DescriptiveAnalysis
from utils.viz.display import DisplayUtils
from utils.core.save_manager import SaveUtils
from utils.core.format_utils import FormatUtils

#### Step 1: Project Initialization and Data Loading 
In this step, we:
- Initialize the Daanish core setup
- Access global and project-specific configuration values
- Construct input and output paths based on project settings
- Load the main dataset for modeling
- Load the list of model features along with their attributes

- Initialize the Daanish core setup

In [34]:
global_config = initialize_daanish()

Daanish core setup complete.

- Access global and project-specific configuration values

In [35]:

project_root = os.getcwd()
project_config = load_project_config(project_root)

input_data_folder = project_config.get('paths', 'input_data_folder')
output_data_folder = project_config.get('paths', 'output_data_folder')
main_dataset = project_config.get('input_files', 'main_dataset')
model_features = project_config.get('input_files', 'features_attributes')
source_type = project_config.get('datasource_type', 'source_type')
excel_sheet_name = project_config.get('datasource_type', 'excel_sheet_name')
main_dataset_query = project_config.get('db_queries', 'main_dataset_query')
model_features_query = project_config.get('db_queries', 'model_features_query')

INFO:utils.core.config:Loading project configuration from c:\Data Science Projects\Daanish\projects\probability_of_default\project_config.ini
INFO:utils.core.config:Project configuration loaded successfully

- Construct input and output paths based on project settings

In [36]:

input_path = os.path.join(project_root, input_data_folder)
output_path = os.path.join(project_root, output_data_folder)

- Load the main dataset for modeling

In [37]:
main_df = load_data(
    source_type=source_type,
    input_path=os.path.join(input_path, main_dataset),
    query=main_dataset_query,
    global_config=global_config
)

Connected to SQL Server.
Connection closed.

C:\Data Science Projects\Daanish\utils\data_io\reader.py:43: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  return pd.read_sql(query, connection)

- Load the list of model features along with their attributes

In [38]:
feature_manager = FeatureManager(
    source_type=source_type,
    input_path=os.path.join(input_path, model_features),
    global_config=global_config,
    query=model_features_query
)

nominal_features = feature_manager.get_nominal_features()
ordinal_features = feature_manager.get_ordinal_features()
numerical_features = feature_manager.get_numerical_features()
target_variable = feature_manager.get_target_variable()
all_features = feature_manager.get_all_features()
missing_value_strategies = feature_manager.get_missing_value_strategies()
missing_fill_values = feature_manager.get_missing_fill_values()
display_names = feature_manager.get_display_names()

# print("Nominal Features:", nominal_features)
# print("Ordinal Features:", ordinal_features)
# print("Numerical Features:", numerical_features)
# print("Target Variable:", target_variable)
# print("All Features:", all_features)
# print("Missing Value Strategies:", missing_value_strategies)
# print("Missing Fill Values:", missing_fill_values)
# print("Display Names:", display_names)

Connected to SQL Server.
Connection closed.

#### Step 2: Preliminary Exploratory Data Analysis (EDA)

In this step, we explore the raw dataset to understand its structure, identify potential issues (e.g., missing values, outliers, inconsistent types), and gain initial insights into data distributions. This provides the foundation for informed preprocessing and feature engineering decisions later.

- initializing the `DescriptiveAnalysis` class with our main dataset

In [39]:
eda_desc = DescriptiveAnalysis(main_df)

- Print summaries of data samples

In [40]:
sample_data = eda_desc.get_data_samples(5)
DisplayUtils.show_dataframe_notebook(sample_data)

- Print dataset summary

In [41]:
dataset_summary = eda_desc.get_dataset_summary()
DisplayUtils.show_summary_console(dataset_summary)

=== Dataset Summary ===
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32581 entries, 0 to 32580
Columns: 12 entries, person_age to cb_person_cred_hist_length
dtypes: bool(2), float64(3), int64(4), object(3)

Duplicate Count: 165

Missing Values:
Feature                       Count
--------------------------  -------
person_age                        0
person_income                     0
person_home_ownership             0
person_emp_length               895
loan_intent                       0
loan_grade                        0
loan_amnt                         0
loan_int_rate                  3116
loan_status                       0
loan_percent_income               9
cb_person_default_on_file         0
cb_person_cred_hist_length        0

Missing Percentages:
Feature                     Percentage
--------------------------  ------------
person_age                  0.00%
person_income               0.00%
person_home_ownership       0.00%
person_emp_length           2.75%
loan_intent                 0.00%
loan_grade                  0.00%
loan_amnt                   0.00%
loan_int_rate               9.56%
loan_status                 0.00%
loan_percent_income         0.03%
cb_person_default_on_file   0.00%
cb_person_cred_hist_length  0.00%

Unique Values:
Feature                       Count
--------------------------  -------
person_age                       58
person_income                  4295
person_home_ownership             4
person_emp_length                36
loan_intent                       6
loan_grade                        7
loan_amnt                       753
loan_int_rate                   348
loan_status                       2
loan_percent_income              76
cb_person_default_on_file         2
cb_person_cred_hist_length       29

- Display/Save summaries of feature(s)

In [42]:
# single_feature_summary = eda_desc.get_feature_summary("loan_amnt")
# DisplayUtils.print_feature_summary("loan_amnt", single_feature_summary)

All_features_summary = eda_desc.get_all_feature_summaries()
DisplayUtils.print_high_level_summary(All_features_summary)

=== High-Level Feature Summary ===
+---------------------+------------+---------------+-----------------------+-------------------+-------------+------------+--------------+---------------+-------------+---------------------+---------------------------+----------------------------+
|      Statistic      | person_age | person_income | person_home_ownership | person_emp_length | loan_intent | loan_grade |  loan_amnt   | loan_int_rate | loan_status | loan_percent_income | cb_person_default_on_file | cb_person_cred_hist_length |
+---------------------+------------+---------------+-----------------------+-------------------+-------------+------------+--------------+---------------+-------------+---------------------+---------------------------+----------------------------+
|        count        |  32581.00  |   32581.00    |          N/A          |     31686.00      |     N/A     |    N/A     |   32581.00   |   29465.00    |     N/A     |      32572.00       |            N/A            |          32581.00          |
|        mean         |   27.73    |   66074.85    |          N/A          |       4.79        |     N/A     |    N/A     |   9589.37    |     11.01     |     N/A     |        0.17         |            N/A            |            5.80            |
|         std         |    6.35    |   61983.12    |          N/A          |       4.14        |     N/A     |    N/A     |   6322.09    |     3.24      |     N/A     |        0.11         |            N/A            |            4.06            |
|         min         |   20.00    |    4000.00    |          N/A          |       0.00        |     N/A     |    N/A     |    500.00    |     5.42      |     N/A     |        0.01         |            N/A            |            2.00            |
|         25%         |   23.00    |   38500.00    |          N/A          |       2.00        |     N/A     |    N/A     |   5000.00    |     7.90      |     N/A     |        0.09         |            N/A            |            3.00            |
|         50%         |   26.00    |   55000.00    |          N/A          |       4.00        |     N/A     |    N/A     |   8000.00    |     10.99     |     N/A     |        0.15         |            N/A            |            4.00            |
|         75%         |   30.00    |   79200.00    |          N/A          |       7.00        |     N/A     |    N/A     |   12200.00   |     13.47     |     N/A     |        0.23         |            N/A            |            8.00            |
|         max         |   144.00   |  6000000.00   |          N/A          |      123.00       |     N/A     |    N/A     |   35000.00   |     23.22     |     N/A     |        0.83         |            N/A            |           30.00            |
|      skewness       |    2.58    |     32.87     |          N/A          |       2.61        |     N/A     |    N/A     |     1.19     |     0.21      |     N/A     |        1.07         |            N/A            |            1.66            |
|      kurtosis       |   18.56    |    2693.27    |          N/A          |       43.72       |     N/A     |    N/A     |     1.42     |     -0.67     |     N/A     |        1.22         |            N/A            |            3.72            |
|         5%          |   22.00    |   22880.00    |          N/A          |       0.00        |     N/A     |    N/A     |   2000.00    |     6.03      |     N/A     |        0.04         |            N/A            |            2.00            |
|         95%         |   40.00    |   138000.00   |          N/A          |       13.00       |     N/A     |    N/A     |   24000.00   |     16.32     |     N/A     |        0.38         |            N/A            |           14.00            |
|   missing_values    |     0      |       0       |           0           |        895        |      0      |     0      |      0       |     3116      |      0      |          9          |             0             |             0              |
| missing_percentage  |    0.00    |     0.00      |         0.00          |       2.75        |    0.00     |    0.00    |     0.00     |     9.56      |    0.00     |        0.03         |           0.00            |            0.00            |
|   distinct_count    |     58     |     4295      |           4           |        36         |      6      |     7      |     753      |      348      |      2      |         76          |             2             |             29             |
| distinct_percentage |    0.18    |     13.18     |          N/A          |       0.11        |     N/A     |    N/A     |     2.31     |     1.07      |     N/A     |        0.23         |            N/A            |            0.09            |
|     zero_values     |     0      |       0       |          N/A          |       4105        |     N/A     |    N/A     |      0       |       0       |     N/A     |          0          |            N/A            |             0              |
|   zero_percentage   |    0.00    |     0.00      |          N/A          |       12.60       |     N/A     |    N/A     |     0.00     |     0.00      |     N/A     |        0.00         |            N/A            |            0.00            |
|        range        |   124.00   |  5996000.00   |          N/A          |      123.00       |     N/A     |    N/A     |   34500.00   |     17.80     |     N/A     |        0.82         |            N/A            |           28.00            |
|         iqr         |    7.00    |   40700.00    |          N/A          |       5.00        |     N/A     |    N/A     |   7200.00    |     5.57      |     N/A     |        0.14         |            N/A            |            5.00            |
|      variance       |   40.30    | 3841907061.81 |          N/A          |       17.16       |     N/A     |    N/A     | 39968779.56  |     10.50     |     N/A     |        0.01         |            N/A            |           16.44            |
|         sum         | 903621.00  | 2152784638.00 |          N/A          |     151766.00     |     N/A     |    N/A     | 312431300.00 |   324459.59   |     N/A     |       5545.40       |            N/A            |         189107.00          |
+---------------------+------------+---------------+-----------------------+-------------------+-------------+------------+--------------+---------------+-------------+---------------------+---------------------------+----------------------------+

- Save Descriptive Analysis Summary to CSV

This cell formats the high-level feature summaries into a structured DataFrame and saves it as a CSV or Excel file. The formatting is handled by `FormatUtils`, which extracts selected statistics for each feature, and the output is saved using `SaveUtils`.

In [43]:
# Format the summary
df_summary = FormatUtils.high_level_summary_to_dataframe(All_features_summary)

save_utils = SaveUtils()

# Save as a CSV file
save_utils.save_dataframe_to_csv(df_summary, os.path.join(output_path, "descriptive_summary.csv"), overwrite=True)

# Save as an Excel file
save_utils.save_dataframe_to_excel(df_summary, os.path.join(output_path, "descriptive_summary.xlsx"), sheet_name='Descriptive Summary')

Data saved to c:\Data Science Projects\Daanish\projects\probability_of_default\data/output/descriptive_summary.csv successfully.

AttributeError: 'SaveUtils' object has no attribute 'save_dataframe_to_excel'